body {
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: 80px;
    color: rgb(238, 20, 20);
    background-color: #c1d1c3;
}

::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.container {
    position: relative;
    text-align: center;
    color: red;
}

p {
    position: absolute;
    bottom: 0;
    right: 0;
}

@media screen and (max-width: 768px) {
    .info_text h1,
    .info_text p {
        font-size: 16px;
    }
}

@media screen and (max-width: 480px) {
    .info_text h1,
    .info_text p {
        font-size: 14px;
    }
}

.flex_container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
}

.flex_perrent {
    max-width: 200px;
    border: 2px;
    border-radius: 10px;
}

.flex_perrent img {
    width: 100%;
    height: 200px;
    padding: 25px;
}

.Busted {
    width: 100%;
    height: 200px;
}

.snoop {
    min-height: 100vh;
    border-radius: 50px;
    background-image: url(../img/snoop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.Surrender {
    color: red;
    position: relative;
    text-align: center;
}